<div class="">
<%= simple_form_for(@comment, url: blog_comments_path(@blog)) do |f| %>
<%= f.error_notification %>
<%= f.input :author, placeholder: "your name here" %>
<%= f.input :message, input_html: {rows: 4} %>
<%= f.button :submit %>
<% end %>
</div>