<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for(@blog) do |f| %>
      <%= f.error_notification %>
      <%= f.input :title %>
      <%= f.input :author %>
      <%= f.input :body, input_html: {rows: 8} %>
      <%= f.input :published_at %>
      <%= f.input :featured, inline_label:'Yes, Feature this post' %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
