
<div class="new_blog"><%= link_to 'New Blog Post', new_blog_path %></div><br/>

<div class="col-md-8 blog_post">
 	<p>more updates coming here soon!</p>


</div>

<div class="col-md-4 blog_list">

<% @blogs.each do |blog| %>
  
    <h2 class="title"><%= blog.title %></h2><br/>
    <%= blog.author %><br/>
    <%=simple_format(truncate(blog.body, length:300)) %><br/>
    <%= time_ago_in_words(blog.created_at) + " ago" %><br/>
    <%= blog.featured %>
    <%= link_to "Continue Reading", blog %>
    <%= link_to 'Edit', edit_blog_path(blog) %>
    <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
<% end %>



<br />

</div>