
<h1>Andy's Blog</h1>

<div class="new_blog"><%= link_to 'New Blog Post', new_blog_path %></div><br/>
<% @blogs.each do |blog| %>
  
    <h2 class="title"><%= blog.title %></h2><br/>
    <%= blog.author %><br/>
    <%= blog.body %><br/>
    <%= blog.published_at %><br/>
    <%= blog.featured %>
    <%= link_to time_ago_in_words(blog.created_at) + " ago", blog %>
    <%= link_to 'Edit', edit_blog_path(blog) %>
    <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
<% end %>



<br />

