
<h1>Andy's Blog</h1>

<%= link_to 'New Blog', new_blog_path %>
<% @blogs.each do |blog| %>
  
    <%= blog.title %>
    <%= blog.author %>
    <%= blog.body %>
    <%= blog.published_at %>
    <%= blog.featured %>
    <%= link_to 'Show', blog %>
    <%= link_to 'Edit', edit_blog_path(blog) %>
    <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>



<br />

