<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @blog.title %>
</p>
<br/>
<p>
  <b>Author:</b>
  <%= @blog.author %>
</p>
<br/>
<p>
  <b>Body:</b>
  <%= @blog.body %>
</p>
<br/>
<p>
  <b>Published at:</b>
  <%= @blog.published_at %>
</p>
<br/>
<p>
  <b>Featured:</b>
  <%= @blog.featured %>
</p>



<h3> Add a Comment</h3>
  <%= render 'blogs/comments_form' %>

  <% @blog.comments.each do |comment| %>
  <h4>
    <%= comment.author %>
    <small> <%= time_tag(comment.created_at) if comment.created_at %> </small>
  </h4>
  <%= simple_format(comment.message) %>
  <hr />
<% end %>

<div class="padding">
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
</div>