<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @blog.title %>
</p>

<p>
  <b>Author:</b>
  <%= @blog.author %>
</p>

<p>
  <b>Body:</b>
  <%= @blog.body %>
</p>

<p>
  <b>Published at:</b>
  <%= @blog.published_at %>
</p>

<p>
  <b>Featured:</b>
  <%= @blog.featured %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
