<p id="notice"><%= notice %></p>

<p>
	<%= image_tag(@project.project_picture.url(:medium)) %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<div class="padding">
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</div>
